Repository hashgraph/hedera-the-graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @Nana-EC, @beeradb, @hashgraph/platform-ci, @hashgraph/platform-ci-committers

Fix not ready pods
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Enable arm64 hosts
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Apply Fredy's suggestion
  charts/hedera-the-graph/values-overrides/arm-arch.yaml
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Improve docs
  charts/hedera-the-graph/values-overrides/arm-arch.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Remove `podOptions` from main `values.yaml`
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Update docs
  charts/hedera-the-graph/README.md
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Temp workaround to install a usable helm version
  .github/workflows/hedera-the-graph-chart-install.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Fix workflow due to helm version
  .github/workflows/charts-lint.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Apply Fredy's suggestion
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Include docs to forward ports
  charts/hedera-the-graph/README.md
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Improve docs
  charts/hedera-the-graph/README.md
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Use `GRAPH_NETWORK` instead of hardcoded network
  subgraphs/saucerswap/v2/subgraph.template.yaml
Owners: @Nana-EC, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: allow `saucerswap/v2` subgraph to be deployed on testnet (#226)
  subgraphs/saucerswap/v2/subgraph.template.yaml
Owners: @Nana-EC, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: ensure pods start properly (#223)
  .github/workflows/charts-lint.yml
  .github/workflows/hedera-the-graph-chart-install.yml
  charts/hedera-the-graph/README.md
  charts/hedera-the-graph/values-overrides/arm-arch.yaml
  charts/hedera-the-graph/values.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering

Update SECURITY.md (#134)
  SECURITY.md
Owners: @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Pin buildx version to fix CI
  .github/workflows/release-integration.yml
  README.md
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/release-engineering, @hashgraph/hedera-smart-contracts

Remove GH cache
  .github/workflows/release-integration.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Fix release prod workflow as well
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: pin `buildx` version to fix CI (#230)
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  README.md
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/release-engineering, @hashgraph/hedera-smart-contracts

Update helm charts to latest version of The Graph
  charts/hedera-the-graph-node/Chart.yaml
  charts/hedera-the-graph-node/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Bump graph image to 35 in umbrella chart as well
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Fix C locale to enable proper start up
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Improve env var references
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Fix typo
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Fix linting
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Update helm charts to latest version of The Graph (#150)
  charts/hedera-the-graph-node/Chart.yaml
  charts/hedera-the-graph-node/values.yaml
  charts/hedera-the-graph/values.yaml
Owners: @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Add unit test for starter-example
  .github/workflows/starter-example.yaml
  subgraphs/starter-example/.gitignore
  subgraphs/starter-example/package-lock.json
  subgraphs/starter-example/package.json
  subgraphs/starter-example/tests/handleTransfer.test.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/release-engineering, @hashgraph/hedera-smart-contracts, @Nana-EC

Add missing steps to workflow
  .github/workflows/starter-example.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Fix workflow
  .github/workflows/starter-example.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Include update
  .github/workflows/starter-example.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Clean up step
  .github/workflows/starter-example.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Apply Roger's suggestions
  .github/workflows/starter-example.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

test: add unit test for starter-example (#233)
  .github/workflows/starter-example.yaml
  subgraphs/starter-example/.gitignore
  subgraphs/starter-example/package-lock.json
  subgraphs/starter-example/package.json
  subgraphs/starter-example/tests/handleTransfer.test.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/release-engineering, @hashgraph/hedera-smart-contracts, @Nana-EC

fix(deps): update external packages to explicit versions
  subgraphs/saucerswap/v1/.npmrc
  subgraphs/saucerswap/v2/.npmrc
  subgraphs/saucerswap/v2/package.json
  subgraphs/saucerswap/v2/yarn.lock
Owners: @Nana-EC, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

add v1 packages
  subgraphs/saucerswap/v1/package.json
  subgraphs/saucerswap/v1/yarn.lock
Owners: @Nana-EC, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update deps
  subgraphs/saucerswap/v1/package.json
  subgraphs/saucerswap/v2/package.json
  subgraphs/saucerswap/v2/yarn.lock
Owners: @Nana-EC, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

add more packages
  subgraphs/starter-example/package-lock.json
  subgraphs/starter-example/package.json
Owners: @Nana-EC, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

add npmrc file
  subgraphs/starter-example/.npmrc
Owners: @Nana-EC, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix versions
  subgraphs/saucerswap/v1/package.json
  subgraphs/starter-example/package.json
Owners: @Nana-EC, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update yarn lock
  yarn.lock
Owners: @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hashgraph/hedera-smart-contracts @hashgraph/release-engineering @hashgraph/release-engineering-managers

#############################
##### Auth-Layer-Proxy ######
#############################
/auth-layer-proxy/                              @Nana-EC @hashgraph/hedera-smart-contracts @hashgraph/release-engineering @hashgraph/release-engineering-managers
/charts/auth-layer-proxy/                       @Nana-EC @beeradb @hashgraph/hedera-smart-contracts @hashgraph/release-engineering @hashgraph/release-engineering-managers

###############################
#####       Charts       ######
###############################
/charts/                                        @Nana-EC @beeradb @hashgraph/hedera-smart-contracts @hashgraph/release-engineering @hashgraph/release-engineering-managers

###############################
#####      Subgraphs     ######
###############################
/subgraphs/                                     @Nana-EC @hashgraph/hedera-smart-contracts @hashgraph/release-engineering @hashgraph/release-engineering-managers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Codacy Tool Configurations
/config/                                        @hashgraph/platform-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts
.remarkrc                                       @hashgraph/platform-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts
**/LICENSE                                      @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/platform-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts
