Repository hashgraph/hedera-the-graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @Nana-EC, @beeradb

Helm chart for auth-layer-proxy
  charts/auth-layer-proxy/.helmignore
  charts/auth-layer-proxy/Chart.yaml
  charts/auth-layer-proxy/templates/_helpers.tpl
  charts/auth-layer-proxy/templates/configmap.yaml
  charts/auth-layer-proxy/templates/deployment.yaml
  charts/auth-layer-proxy/templates/service.yaml
  charts/auth-layer-proxy/templates/serviceaccount.yaml
  charts/auth-layer-proxy/values.yaml
Owners: @AlfredoG87, @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts

add blank line EOF
  .github/workflows/release-production.yml
  charts/auth-layer-proxy/templates/configmap.yaml
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @Nana-EC, @beeradb

simplification of values and improvements on documentation
  charts/auth-layer-proxy/README.md
  charts/auth-layer-proxy/templates/_helpers.tpl
  charts/auth-layer-proxy/templates/deployment.yaml
  charts/auth-layer-proxy/templates/service.yaml
  charts/auth-layer-proxy/values.yaml
Owners: @AlfredoG87, @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts

adding liveness and readiness endpoints
  charts/auth-layer-proxy/templates/_helpers.tpl
  charts/auth-layer-proxy/templates/deployment.yaml
Owners: @AlfredoG87, @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts

ordered alphabetically the spec of the main deployment yaml template for ease of finding a section.
  charts/auth-layer-proxy/README.md
  charts/auth-layer-proxy/templates/deployment.yaml
  charts/auth-layer-proxy/values.yaml
Owners: @AlfredoG87, @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts

It did not make too much sense for the chart to create a random clientSecret since this should be provided by the auth server in use.
  charts/auth-layer-proxy/README.md
  charts/auth-layer-proxy/templates/_helpers.tpl
  charts/auth-layer-proxy/templates/secret.yaml
  charts/auth-layer-proxy/values.yaml
Owners: @AlfredoG87, @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts

remove trailing spaces
  charts/auth-layer-proxy/values.yaml
Owners: @AlfredoG87, @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts

Updated charts names for simplification
  .github/workflows/auth-layer-charts.yml
Owners: @hashgraph/hedera-smart-contracts

maybe fixes issue?
  .github/workflows/auth-layer-charts.yml
Owners: @hashgraph/hedera-smart-contracts

fix linting issues
  charts/hedera-the-graph-auth-layer/values.yaml
Owners: @AlfredoG87, @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts

try to fix --set issue of CT
  .github/workflows/auth-layer-charts.yml
Owners: @hashgraph/hedera-smart-contracts

try to fix --set issue of CT
  .github/workflows/auth-layer-charts.yml
Owners: @hashgraph/hedera-smart-contracts

try to fix --set issue of CT
  .github/workflows/auth-layer-charts.yml
Owners: @hashgraph/hedera-smart-contracts

separated install from lint, to avoid duplication of checks by multiple jobs
  .github/workflows/auth-layer-chart-install.yml
  .github/workflows/charts-lint.yml
  .github/workflows/hedera-the-graph-chart-install.yml
Owners: @hashgraph/hedera-smart-contracts

separated install from lint, to avoid duplication of checks by multiple jobs
  .github/workflows/auth-layer-chart-install.yml
  .github/workflows/hedera-the-graph-chart-install.yml
Owners: @hashgraph/hedera-smart-contracts

improved documentation, added default values
  charts/hedera-the-graph-auth-layer/README.md
Owners: @AlfredoG87, @Nana-EC, @beeradb, @hashgraph/hedera-smart-contracts

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                                 @hashgraph/hedera-smart-contracts

#############################
##### Auth-Layer-Proxy ######
#############################
/auth-layer-proxy/                                @AlfredoG87 @Nana-EC @hashgraph/hedera-smart-contracts
/charts/auth-layer-proxy/                         @AlfredoG87 @Nana-EC @beeradb @hashgraph/hedera-smart-contracts

###############################
#####       Charts       ######
###############################
/charts/                                          @AlfredoG87 @Nana-EC @beeradb @hashgraph/hedera-smart-contracts

###############################
#####      Subgraphs     ######
###############################
/subgraphs/                                       @AlfredoG87 @Nana-EC @hashgraph/hedera-smart-contracts
